@import './_Form';
.Wrapper {
	background-color: rgb(39, 39, 39);
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	padding: 50px 0 20px 0;
}
.Form {
	@include form;
	width: 50%;
	@media (max-width: 768px) {
		padding-top: 50px;
	}
}
.ExpressionInput,
.Definition,
.Examples {
	@include textInput;
	width: 80%;
}
.Definition,
.Examples {
	resize: none;
}
form button {
	@include button;
	padding: 5px 15px;
	border-radius: 10px;
}

.Categories {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 18px;
	padding: 10px 0;
	background-color: #f3f3f3;
	margin-top: 5px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	li {
		padding: 5px 10px;
		color: rgb(114, 114, 114);
		font-weight: 500;
		cursor: pointer;
		&:hover {
			background-color: rgb(83, 83, 83);
			color: white;
		}
	}
}
.Select {
	width: 80%;
}
.Category {
	@include textInput;
	display: flex;
	justify-content: space-between;
	align-items: Center;
	width: 100%;
	cursor: pointer;
	color: rgb(99, 99, 99);
}
.Signout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 1.2rem;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.15s ease-out;
	position: absolute;
	top: -20px;
	right: 0px;
	&:hover {
		background-color: rgb(119, 119, 119);
		color: white;
	}
	@media (max-width: 768px) {
		font-size: 1rem;
		padding: 5px;
	}
}
.Home {
	position: absolute;
	top: -20px;
	left: 0px;
	border-radius: 3px;
	&:hover {
		background-color: rgb(119, 119, 119);
	}
}

.Note {
	color: white;
	font-style: italic;
	font-size: 18px;
	max-width: 80vw;
}

@media (max-width: 960px) {
	.ExpressionInput,
	.Definition,
	.Examples,
	.Select {
		width: auto;
	}
}
@media (max-width: 768px) {
	.Form {
		width: 90vw;
		.Categories {
			padding: 5px 0;
			li {
				font-size: 0.9rem;
				font-weight: 500;
			}
		}
	}
}
