@use '../../variables';

.Navigation {
	background-color: variables.$main-bg-color;
	color: #e6e6eb;
	font-size: 1.4rem;
	height: max-content;
	display: flex;
	justify-content: end;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.NavList {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0px;
	gap: 3vw;
	li {
		a {
			font-size: 1.5rem;
			display: flex;
			@media (max-width: 640px) {
				font-size: 1.2rem;
			}
		}
	}
}
.NavList li {
	padding: 5px 0;
	cursor: pointer;
	transition: 0.2s ease-out;
	border-bottom: 1px solid transparent;
	user-select: none;
}
.NavList li:hover {
	color: #ffffffb7;
}

@media (max-width: 768px) {
	.Navigation {
		font-size: 1rem;
		.NavList {
			align-items: flex-end;
			width: max-content;
			margin-right: 20px;
		}
	}
}

@media (max-width: 420px) {
	.Navigation {
		font-size: 0.8rem;
		.NavList {
			margin: auto;
			width: 100%;
		}
	}
}
