.Navigation {
	background-color: #3c3759;
	min-width: 20vw;
	color: #e6e6eb;
	font-size: 1.4rem;
	height: 100vh;
	display: flex;
	justify-content: end;
	align-items: center;
}
.Navigation ul {
	display: flex;
	flex-direction: column;
	width: 94%;
}
.Navigation ul li {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding: 15px 20px;
	cursor: pointer;
	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.Navigation ul li:hover {
	background-color: #eff1f7;
	color: rgb(56, 56, 56);
}
