@use '../variables';

.Wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: variables.$main-bg-color;
	padding-bottom: 10px;
	justify-content: center;
}
.Logo {
	width: 80px;
}

.Search {
	display: flex;
	align-items: center;
	background-color: #fefeff;
	padding: 10px 15px;
	border-radius: 30px;
	font-size: 1.3rem;
	width: 50%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}
.Search > input {
	background-color: inherit;
	border: none;
	outline: none;
	margin-left: 10px;
	font-size: 1.1rem;
	width: 100%;
	color: #575757;
}
