@use '../../variables';

.Wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: variables.$main-bg-color;
	padding-bottom: 10px;
	justify-content: center;
}
.Logo {
	width: 80px;
	margin-left: 10px;
}

.Search {
	display: flex;
	align-items: center;
	background-color: #fefeff;
	padding: 10px 15px;
	border-radius: 30px;
	font-size: 1.3rem;
	width: 50%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}
.Search > input {
	background-color: inherit;
	border: none;
	outline: none;
	margin-left: 10px;
	font-size: 1.1rem;
	width: 100%;
	color: #575757;
}

@media (max-width: 768px) {
	.Wrapper {
		flex-direction: column;
	}
	.Logo {
		position: absolute;
		left: 10px;
		top: 20px;
		width: 60px;
	}
	.Search {
		width: 70vw;
		padding: 5px 10px;
		margin-bottom: 5px;
		margin-top: -5px;
		border-radius: 10px;
		& > input {
			font-size: 1rem;
		}
	}
}

@media (max-width: 420px) {
	.Wrapper {
		flex-direction: column-reverse;
		padding: 0;
	}
	.Search {
		max-width: max-content;
		margin: 10px 5px 0 0;
		border-radius: 10px;
		align-self: end;
	}
	.Logo {
		top: 10px;
	}
}
